<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekfanfan.think.mapper.UserMapper">
    <select id="listAll" resultType="com.geekfanfan.think.entity.User">
        SELECT * FROM user
    </select>

    <!-- 转入 -->
    <update id="transferIn">
        update user 
        set money = money + #{money }
        where id= #{id}
    </update>

    <!-- 转出 -->
    <update id="transferOut">
        update user 
        set money = money - #{money }
        where id= #{id}
    </update>
</mapper>